@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

/*BUTON MENIU ----------------------------------------------*/
/*POZA MENIU*/
.poza_meniu {
  position: fixed;
  width: 25px;
  height: 25px;
  top: 0;
  z-index: 1001;
  border: 2px solid black;
  border-radius: 20%;
}

/*BUTON*/
#buton_meniu {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  top: 0;
  right: 0;
  display: none;
  z-index: 101;
}

/*MENIU---------------------------------------- */
header nav {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 100;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  width: 20%;
  border-radius: 10px;
  transition: 0.5s;
}

header nav a:hover {
  background: rgb(190, 190, 190);
  color: black;
  border-radius: 10px;
  font-size: 15px;
}


/*BUN VENIT ---------------------------------------------------------*/
.bun_venit {
  position: relative;
  text-align: center;
}

.mesaj_s {
  font-size: 48px;
  font-weight: bolder;
  font-family: "Oswald";
  text-transform: uppercase;
  margin-top: 50px;
}

.mesaj_m {
  font-size: 19px;
  font-family: "Oswald";
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}

/*PRIMA POZA------------------------------------------------------ */
#prima_poza {
  width: 100%;
  height: 700px;
  background-image: url("poze/prima_poza/4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transition: 2s;
}

/*CONTAINER----------------------------------------------- */
.container {
  width: 98.5vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(230, 230, 230);
  padding-top: 20px;
}













/*CONTAINER STANGA---------------------------------------------------------------------------------------------------------- */
.container_stanga {
  width: 70%;
  height: auto;
  padding: 10px;
}

/*CONTAINER STANGA 1----------------------------------------------- */
.container_stanga .container_stanga_1 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
  background-color: white;
  margin: 8px 16px;
  padding: 30px;
}

.container_stanga .container_stanga_1:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_stanga .container_stanga_1 .titlu {
  font-family: "Oswald";
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.container_stanga .container_stanga_1 .descriere {
  font-family: "Oswald";
}

.container_stanga .container_stanga_1 .descriere .data {
  opacity: 0.8;
}

.container_stanga .container_stanga_1 .poza_2 {
  width: 100%;
}

.container_stanga .container_stanga_1 .text_descriere {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 30px;
}

/*CONTAINER STANGA 2----------------------------------------------- */
.container_stanga .container_stanga_2 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
  background-color: white;
  margin: 38px 16px;
  padding: 30px;
}

.container_stanga .container_stanga_2:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_stanga .container_stanga_2 .pozitionare_geografica {
  font-family: "Oswald";
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.container_stanga .container_stanga_2 .harta {
  width: 600px;
  height: 450px;
}

.container_stanga .container_stanga_2 .descriere_pozitionare_geografica {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

/*CONTAINER STANGA 3----------------------------------------------- */
.container_stanga .container_stanga_3 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
  background-color: white;
  margin: 8px 16px;
  padding: 30px;
}

.container_stanga .container_stanga_3:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_stanga .container_stanga_3 .cum_ajungi {
  font-family: "Oswald";
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.container_stanga .container_stanga_3 .text_cum_ajungi {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

.container_stanga .container_stanga_3 .traseu {
  width: 100%;
}

/*CONTAINER STANGA 4----------------------------------------------- */
.container_stanga .container_stanga_4 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
  background-color: white;
  margin: 8px 16px;
  padding: 30px;
}

.container_stanga .container_stanga_4:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_stanga .container_stanga_4 .ce_faci_la_paltinis {
  font-family: "Oswald";
  font-weight: 400;
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
}

.container_stanga .container_stanga_4 .text_ce_faci_la_paltinis {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

.container_stanga .container_stanga_4 .text_ski {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

.container_stanga .container_stanga_4 .poza_ski {
  width: 100%;
}

.container_stanga .container_stanga_4 ol {
  text-align: left;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
}

.container_stanga .container_stanga_4 ol ul li {
  transform: translateX(20px);
  list-style-type: square;

}

.container_stanga .container_stanga_4 .text_trasee {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

.container_stanga .container_stanga_4 .poza_trasee {
  width: 100%;
}

.container_stanga .container_stanga_4 .text_munte {
  text-align: justify;
  font-family: "Open Sans";
  line-height: 1.5;
  font-size: 17px;
  margin-top: 20px;
}

.container_stanga .container_stanga_4 .poza_munte {
  width: 100%;
}













/*CONTAINER DREAPTA----------------------------------------------------------------------------------------------------- */
.container_dreapta {
  width: 400px;
  height: max-content;
  padding: 20px;
}

/*CONTAINER DREAPTA 1----------------------------------------------- */
.container_dreapta .container_dreapta_1 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
}

.container_dreapta .container_dreapta_1:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_dreapta .container_dreapta_1 .poza_schit {
  background-image: url('poze/container_dreapta/schitul_paltinis.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 200px;
}

.container_dreapta .container_dreapta_1 .text_schit {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  height: max-content;
  text-align: left;
  padding: 10px;
}

/*CONTAINER DREAPTA 2----------------------------------------------- */
.container_dreapta .container_dreapta_2 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
}

.container_dreapta .container_dreapta_2:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_dreapta .container_dreapta_2 .postari_populare {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  font-family: "Oswald";
}

/*GALERIE-------------------------------- */
.container_dreapta .container_dreapta_2 .galerie .galerie_poze {
  border: 1px solid #ccc;
  width: 94.5%;
  padding: 10px;
  background-color: white;
}

.container_dreapta .container_dreapta_2 .galerie .galerie_poze:hover {
  border: 1px solid #777;
}

.container_dreapta .container_dreapta_2 .galerie .galerie_poze img {
  width: 100%;
  height: 30vh;
}

/*CONTAINER DREAPTA 3----------------------------------------------- */
.container_dreapta .container_dreapta_3 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
}

.container_dreapta .container_dreapta_3:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_dreapta .container_dreapta_3 .tags {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
  font-family: "Oswald";
  margin-top: 20px;
}

.container_dreapta .container_dreapta_3 .container_taguri {
  padding: 20px;
  background-color: white;
  height: max-content;
  text-align: left;
}

.container_dreapta .container_dreapta_3 .container_taguri span:nth-child(1) {
  color: #f1f1f1;
  background-color: #000;
  font-size: 15px;
}

.container_dreapta .container_dreapta_3 .container_taguri span {
  color: #000;
  background-color: #f1f1f1;
  font-size: 12px;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-family: "Open Sans";
  margin-top: 20px;
  line-height: 1.5;
}

/*CONTAINER DREAPTA 4----------------------------------------------- */
.container_dreapta .container_dreapta_4 {
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
  height: max-content;
}

.container_dreapta .container_dreapta_4:hover {
  box-shadow: 10px 10px 15px rgb(90, 90, 90);
}

.container_dreapta .container_dreapta_4 .urmareste {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: left;
  font-family: "Oswald";
  margin-top: 20px;
}

.container_dreapta .container_dreapta_4 .social_media {
  width: 100%;
  height: max-content;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container_dreapta .container_dreapta_4 .social_media .poza_social_media {
  width: 15%;
}

/*FOOTER-------------------------------------------------------------------------------------------------------------------    */
footer {
  position: relative;
  bottom: 0;
  transition: 2s;
  background-color: #616161;
  height: max-content;
}

.footer {
  padding: 60px;
}

footer .link {
  padding: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  width: max-content;
}

footer .copyright {
  position: relative;
  top: 40px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}






/*RESPONSIVE PAGE ------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:600px) {

  /*MENIU---------------------------------------- */
  header {
    position: fixed;
    transform: rotateX(-90deg);
    background-color: black;
    height: 100vh;
    transition: 1s;
    width: 170px;
    z-index: 100;
  }

  header nav {
    position: relative;
    top: 0px;
    background-color: black;
    padding: 10px;
    height: max-content;
    display: block;
    width: max-content;
  }

  header nav a {
    width: 100%;
    position: sticky;
    display: block;
    transition: 0.5s;

  }

  header nav a:hover {
    font-size: 12px;
  }

  header nav a:nth-child(1) {
    color: yellow;
  }

  #buton_meniu {
    display: block;
  }
}

@media screen and (max-width:960px) {

  /*CONTAINER----------------------------------------------- */
  .container {
    display: block;
    justify-content: space-between;
  }

  /*CONTAINER STANGA-------------------------------------------------------------- */
  .container_stanga {
    width: 95%;
    height: auto;
    padding: 10px;
  }

  /*CONTAINER STANGA 2-------------------------------------------------------------- */
  .container_stanga .container_stanga_2 .harta {
    width: 100%;
    height: 300px;
  }

  /*CONTAINER DREAPTA-------------------------------------------------------------- */
  .container_dreapta {
    width: 95%;
    height: auto;
    padding: 10px;
  }

  /*CONTAINER DREAPTA-------------------------------------------------------------- */
  /*GALERIE-------------------------------- */
  .container_dreapta .container_dreapta_2 .galerie {
    padding: 0;
  }

  .container_dreapta .container_dreapta_2 .galerie .galerie_poze {
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}








/*ANIMATII--------------------------------------------------------------------------------------------------------------------------------------------*/
/* DESCHIDE MENIUL------------------- */
@keyframes animatie_open {
  from {
    transform: rotateX(-90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

/* ASCUNDE MENIUL------------------------ */
@keyframes animatie_close {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}
